@charset "UTF-8";

Body{
    max-width: 1000px;
   margin: 0 auto;
   background-color: beige;
}
#Gallery2 img{
    width: 350px;
}

nav{
    font-size: 2rem;
}
nav ul{
    list-style-type: none;
    margin: o;
}
nav li {
    border: 3px solid yellow;
    background-color: red;
    width: 20rem;
      text-align: center;
    margin-bottom: 0.5rem;
    padding: 0.7rem 1.5rem 0.7rem 1.5rem;
    display: inline-block;
  
  }